<div class="container-fluid p-200">

  <mat-card class="form-width start-50 translate-middle">
    <mat-card-subtitle>PIN Update Form</mat-card-subtitle>
    <mat-card-title>

    </mat-card-title>
    <mat-card-content>
      <!-- #formDir="ngForm" -->
      <form [formGroup]="changePinForm!" #formDir="ngForm">

        <div class="form-group" formGroupName="userAuth">
          <!-- USER PIN -->
          <mat-form-field appearance="fill">
            <mat-label>New PIN</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="userPin">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-error>
            <div class="alert alert-danger" *ngIf="userPin.errors?.['minlength'] && userPin!.touched && userPin!.dirty">
              PIN must be at least 6 digits long.</div>
            <div class="alert alert-danger"
              *ngIf="userPin.errors?.['required'] && changePinForm!.touched && changePinForm!.dirty">
              PIN is required.</div>
            <div class="alert alert-danger"
              *ngIf="userPin.errors?.['pattern'] && changePinForm!.touched && changePinForm!.dirty">
              PIN must not contain a character.</div>
          </mat-error>
        </div>


        <div class="form-group" formGroupName="userAuth">
          <!-- REPEAT PIN -->
          <mat-form-field appearance="fill">
            <mat-label>Confirm PIN</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPin">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-error>
            <div class="alert alert-danger"
              *ngIf="confirmPin.errors?.['required'] && confirmPin.touched && confirmPin.dirty">
              Repeat PIN is required.
            </div>
            <div class="alert alert-danger"
              *ngIf="confirmPin.errors?.['pattern'] && confirmPin.touched && confirmPin.dirty">
              Repeat PIN must not contain a character.
            </div>
            <div class="alert alert-danger"
              *ngIf="confirmPin.errors?.['minlength'] && confirmPin.touched && confirmPin.dirty">
              Repeat PIN must contain minimum of 6 digits.
            </div>
            <div class="alert alert-danger"
              *ngIf="changePinForm!.errors?.['valuesNotMatch'] && confirmPin.touched && confirmPin.dirty">
              Your New PIN and Confirm PIN do not match.
            </div>
          </mat-error>
        </div>

      </form>
    </mat-card-content>
    <mat-progress-bar mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="!changePinForm?.valid" (click)="submit()">Submit</button>
      <button mat-raised-button color="accent" (click)="logout()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
