.p-200 {
  padding-top: 12.5rem;
}

.form-width {
  max-width: 400px;
}


.mat-card-content {
  margin-bottom: 0px;
}


/* .mat-error {
  margin-top: -1.1rem;
} */

.alert {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.2rem;
  border: 1px solid transparent;
  border-radius: 0rem;
}
