.big-button {
  height: 98%;
  width: 100%;
  padding: 0px;
}

div.bg-dark {
  height: 100%;
  width: 98%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: xx-large;
  width: 80%;
  height: 15%;
}

.accountSelector {
  margin: 0px 5px;
}

p.p-lr-6 {
  padding: 1px 6px;
}
